#metronome {
  position: relative;
  width: clamp(245px, min(52vw, 65svh), 430px);
  aspect-ratio: var(--metronome-ratio);
  filter: drop-shadow(0 22px 20px var(--shadow));
}

.metronome__head {
  position: absolute;
  top: -1.75%;
  left: 20%;
  z-index: 7;
  width: 60%;
  height: 10%;
  overflow: hidden;
  background-color: #222326;
  clip-path: var(--metronome-head);
}

.metronome__head::after {
  content: "";
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  height: 35%;
  background-color: #17181b;
}

.metronome__body {
  position: absolute;
  top: var(--body-top);
  right: 0;
  bottom: var(--body-bottom);
  left: 0;
  z-index: 0;
  background-color: #17181b;
  clip-path: var(--trapezoid);
}

.metronome__body::before {
  content: "";
  position: absolute;
  inset: 0%;
  top: -10%;
  margin: 3rem;
  background-color: #222326;
  clip-path: var(--trapezoid);
}
/* 
.metronome__body::after {
  content: "";
  position: absolute;
  inset: 0;
  background: linear-gradient(
    115deg,
    rgba(255, 255, 255, 0.08),
    transparent 36%,
    rgba(0, 0, 0, 0.2)
  );
} */

.metronome__case {
  position: absolute;
  bottom: var(--body-bottom);
  left: 0;
  right: 0;
  z-index: 3;
  height: var(--case-height);
  overflow: hidden;
  /* background:
    linear-gradient(120deg, rgba(255, 255, 255, 0.12), transparent 35%),
    linear-gradient(
      100deg,
      var(--wood-light),
      var(--wood) 52%,
      var(--wood-dark)
    ); */

  background-color: var(--wood);
  clip-path: var(--metronome-case);
}

/* .metronome__case::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0%;
  left: 0%;
  height: 2px;
  background-color: rgba(255, 255, 255, 0.16);
} */
