.metronome__beat-dial {
  position: absolute;
  right: 14%;
  bottom: 14%;
  z-index: 5;
  display: grid;
  width: 22%;
  aspect-ratio: 1;
  place-items: center;
}

.metronome__beat-dial::before {
  content: "";
  position: absolute;
  inset: 3%;
  border-radius: 50%;
  background: repeating-conic-gradient(
    from -1.5deg,
    var(--cream) 0deg 1deg,
    transparent 0deg 45deg
  );
  filter: drop-shadow(0 1px 1px rgba(0, 0, 0, 0.25));
}

.metronome__beat-knob {
  position: relative;
  width: 67%;
  aspect-ratio: 1;
  border: 1px solid var(--gold-dark);
  border-radius: 50%;
  background:
    radial-gradient(
      circle at 32% 25%,
      rgba(255, 255, 255, 0.34),
      transparent 28%
    ),
    linear-gradient(
      135deg,
      var(--gold-light),
      var(--gold) 50%,
      var(--gold-dark)
    );

  transform-origin: center;
  transition: transform 180ms ease-out;
}

.metronome__beat-knob::after {
  content: "";
  position: absolute;
  top: 10%;
  left: 50%;
  width: 5%;
  height: 27%;
  border-radius: 0.5rem;
  background-color: var(--cream);
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
  transform: translateX(-50%);
}

.metronome__winding-key {
  position: absolute;
  right: -7%;
  bottom: 19%;
  z-index: 2;
  width: 16%;
  height: 2.8%;
  background: linear-gradient(var(--gold-light), var(--gold-dark));
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.25);
  perspective: 1800px;
  transform-origin: 0 50%;
}

.metronome__winding-key::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 70%;
  width: 90%;
  height: 430%;
  border-radius: 42%;
  background:
    radial-gradient(circle at 50% 27%, var(--cream) 0 15%, transparent 16%),
    radial-gradient(circle at 50% 73%, var(--cream) 0 15%, transparent 16%),
    linear-gradient(
      135deg,
      var(--gold-light),
      var(--gold) 50%,
      var(--gold-dark)
    );
  clip-path: var(--metronome-winding-key);
  filter: drop-shadow(2px 3px 2px rgba(0, 0, 0, 0.2));
  transform: translateY(-50%);
}

.metronome__feet-container {
  position: absolute;
  right: 8%;
  bottom: 0;
  left: 8%;
  z-index: 1;
  display: flex;
  justify-content: space-between;
  height: 8%;
}

.metronome__foot {
  position: relative;
  width: 15%;
  height: 100%;
  border-radius: 0 0 8px 8px;
  background: linear-gradient(90deg, #1d1e20, #45474a, #222326);
  clip-path: var(--metronome-foot);
}

.metronome__foot::after {
  content: "";
  position: absolute;
  right: 12%;
  bottom: 0;
  left: 12%;
  height: 17%;
  border-radius: 0 0 4px 4px;
  background-color: var(--gold);
}
