@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

:root {
  /* ===== Colors ===== */
  --gradient: rgba(0, 0, 0, 0.1);

  --wood-dark: #4E2E1E;
  --wood: #6B4226;
  --wood-light: #8A5A3B;
  --wood-highlight: #A8714A;

  --black: #1A1A1A;
  --black-soft: #2D2D2D;
  --black-light: #444444;

  --gold-dark: #A67C00;
  --gold: #D4AF37;
  --gold-light: #F2D675;
  --gold-highlight: #FFF1B5;

  --silver-dark: #8A9099;
  --silver: #BFC5CC;
  --silver-light: #E2E5E9;
  --silver-highlight: #F8F9FA;

  --white: #FFFFFF;
  --gray: #707070;
  --gray-light: #D9D9D9;

  /* ===== Shapes ===== */
  --trapezoid: polygon(20% 0%, 80% 0%, 100% 100%, 0% 100%);
  --metronome-head: polygon(95% 70%, 100% 100%, 0% 100%, 5% 70%, 50% 5%);
  --metronome-case: polygon(8% 0%, 92% 0%, 100% 100%, 0% 100%);
  --metronome-foot: polygon(0 0, 100% 0, 80% 100%, 20% 100%);
  --metronome-knob: polygon(15% 70%, 0% 75%, 0% 25%, 15% 30%, 25% 40%, 60% 40%, 60% 10%, 80% 25%, 80% 75%, 60% 90%, 60% 60%, 25% 60%);
  --metronome-winding-key: polygon(100% 50%, 50% 100%, 50% 65%, 75% 40%, 49% 15%, 25% 40%, 50% 65%, 50% 100%, 0% 50%, 20% 0%, 80% 0%);;
}

* {
  font-family: Roboto;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  min-height: 100svh;
  background: white;
  background: radial-gradient(circle, white 0%, var(--gradient) 65%, white 100%);
}

h1 {
  text-align: center;
  font-size: 3.5rem;
}

main {
  display: grid;
  place-items: center;
  background-color: var(--gray-light);
}

#metronome {
  width: 325px;
  height: 55lvh;
  position: relative;
}

.metronome__head {
  background-color: var(--wood);
  clip-path: var(--metronome-head);
  width: 60%;
  height: 55px;
  position: absolute;
  left: 20%;
  bottom: 50lvh;
  z-index: 1;
}

.metronome__body {
  background-color: var(--black-soft);
  clip-path: var(--trapezoid);
  width: 325px;
  height: 50lvh;
  position: absolute;
  bottom: 0;
  z-index: 0;
}

.metronome__case {
  background-color: var(--wood);
  clip-path: var(--metronome-case);
  width: 100%;
  height: 20lvh;
  position: absolute;
  bottom: 0;
  z-index: 1;
}

.metronome__beat-knob {
  background-color: var(--silver-dark);
  width: 50px;
  height: 10px;
  position: absolute;
  bottom: 30%;
  right: 7%;
}

.metronome__beat-knob::after {
  content: "";
  clip-path: var(--metronome-knob);
  background-color: var(--silver-dark);
  width: 50px;
  height: 50px;
  position: absolute;
  top: -20px;
  left: 50px;
}

.metronome__winding-key {
  background-color: var(--silver-dark);
  width: 30px;
  height: 10px;
  position: absolute;
  bottom: 15%;
  right: 0;
}

.metronome__winding-key::after {
  content: "";
  clip-path: var(--metronome-winding-key);
  background-color: var(--silver-dark);
  width: 50px;
  height: 50px;
  position: absolute;
  top: -20px;
  left: 20px;
  transform: rotate(90deg);
}

.metronome__feet-container {
  background-color: transparent;
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: flex-end;
  gap: 50px;
  position: absolute;
  bottom: -25px;
  z-index: 0;
}

.metronome__foot {
  background-color: var(--black-soft);
  clip-path: var(--metronome-foot);
  height: 50px;
  width: 50px;
}
