* {
  box-sizing: border-box;
  font-family: "Outfit", sans-serif;
  margin: 0;
  padding: 0;
}

body {
  display: grid;
  grid-template-rows: 10% 80% 10%;
  min-height: 100svh;
  background: var(--white);
  background: radial-gradient(circle, var(--white) 0%, var(--gradient) 65%, var(--white) 100%);
}
